footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	margin-top: 50px;
	padding-bottom: 40px;
	p {
		font-family: $Karla;
		color: $bodyTextColor;
		margin-bottom: 25px;
	}
	div {
		display: flex;
		justify-content: space-evenly;
		img {
			width: 25%;
		}
	}

}