header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: relative;
	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		h1 {
			font-family: $Playfair;
			font-weight: 700;
			color: $bodyTextColor;
			font-size: 40px;
			margin-bottom: 15px;
		}
		h2 {
			font-family: $Karla;
			color: $bodyTextColor;
			font-size: 16px;
			text-align: center;
			line-height: 30px;
		}
	}
	svg {
		width: 50px;
		position: relative;
		bottom: 40px;
		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
		path {
			fill: $bodyTextColor;
		}
	}

	// Animate the svg arrow / lots of browser compatibility
	@-moz-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			-moz-transform: translateY(0);
			transform: translateY(0);
		}
		40% {
			-moz-transform: translateY(-30px);
			transform: translateY(-30px);
		}
		60% {
			-moz-transform: translateY(-15px);
			transform: translateY(-15px);
		}
	}
	@-webkit-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		40% {
			-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
		}
		60% {
			-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
		}
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		40% {
			-moz-transform: translateY(-30px);
			-ms-transform: translateY(-30px);
			-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
		}
		60% {
			-moz-transform: translateY(-15px);
			-ms-transform: translateY(-15px);
			-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
		}
	}	
}

@media screen and (min-width: 1064px) {
	header {
		.title {
			h1 {
				font-size: 64px;
			}
			h2 {
				font-size: 30px;
				line-height: 50px;
			}
		}
		svg {
			bottom: 20px;
		}
	}
}



















