.project {
	header {
		width: 100%;
		height: auto;
		// background: rgb(229,255,243);
		background: -moz-linear-gradient(top, rgba(229,255,243,1) 0%, rgba(246,242,254,1) 90%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(229,255,243,1) 0%,rgba(246,242,254,1) 90%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(229,255,243,1) 0%,rgba(246,242,254,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fff3', endColorstr='#e5fff3',GradientType=0 ); /* IE6-9 */
		.hamburger-inner {
			background-color: #9B9B9B;
			&::before,
			&::after {
				background-color: #9B9B9B;
			}
		}
		.project-bg {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			height: 200px;
			background-size: cover;
			background-position: left center;
			background-repeat: no-repeat;
			.project-title {
				width: 85%;
				max-width: 1064px;
				h1 {
					margin-bottom: 30px;
					font-family: $Playfair;
					font-weight: 700;
					font-size: 28px;
					color: $white;
				}
				h2 {
					margin-bottom: 30px;
					font-family: $Karla;
					font-size: 16px;
					color: $white;
				}
			}
		}
	}

	section:first-of-type {
		margin-top: 30px;
	}

	section {
		width: 85%;
		max-width: 1064px;
		h3 {
			position: relative;
			display: inline-block;
			margin-bottom: 40px;
			font-family: $Playfair;
			font-weight: 700;
			font-size: 20px;
			color: #4A4A4A;
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 10px;
				top: 25px;
				left: 0;
				background-color: #bdddcd;
			}	
		}
		.content {
			width: 95%;
			margin: 0 auto;
			line-height: 1.5em;
			.content-row {
				div {
					margin-bottom: 50px;
					p {
						width: 100%;
						margin-bottom: 1px;
					}
					ul {
						margin-bottom: 10px;
						margin-left: 10px;
						li {
							text-indent: -10px;
							&:before {
								content: "- ";

							}
						}
					}
				}
			}
			h4 {
				font-family: $Playfair;
				font-weight: 700;
				font-size: 18px;
				color: $bodyTextColor;
				margin-bottom: 10px;
			}
			p, ul {
				font-family: $Karla;
				font-size: 14px;
				color: $bodyTextColor;
				margin-bottom: 15px;
				line-height: 25px;
				a:link {
    				color: #83A494;
    				text-decoration: underline;
				}
				a:visited {
    				color: #9C90A0;
    				text-decoration: underline;
    			}
    			a:hover {
					 color: #4A4A4A;
					 text-decoration: underline;
				}
			}


			h5 {
				font-family: $Karla;
				font-size: 14px;
				color: $bodyTextColor;
				font-style: italic;
			}

			span {
			font-weight: 700;
			}

			img {
				width: 100%;
				margin-bottom: 20px;
				border-radius: 3px;
			}
			.video-container {
				position:relative;
				padding-bottom:56.25%;
				padding-top:30px;
				height:0;
				overflow:hidden;
			}
			.video-container iframe, .video-container object, .video-container embed {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
			.lists {
				width: 95%;
				margin: 0 auto;
				.list {
					ul {
						display: flex;
						flex-wrap: wrap;
						li {
							list-style: none;
							display: inline-block;
							width: 150px;
							margin-right: 5%;
							margin-bottom: 10px;
						}
					}			
				}
			}
		}
		.content-img {
			display: flex;
			justify-content: center;
			margin-top: 0px;
			margin-bottom: 50px;
			img {
				width: 100%;
				height: 100%;
				}
			}
		}
	}

	.slideshow-container {
  		max-width: 1000px;
  		position: relative;
  		margin: auto;
  		.mySlides {
    		display: none;
		}
		.prev, .next {
  			cursor: pointer;
  			position: absolute;
  			top: 50%;
  			width: auto;
  			margin-top: -22px;
  			padding: 10px;
  			color: white;
  			font-size: 24px;
  			transition: 0.6s ease;
  			border-radius: 0 3px 3px 0;
  			background-color: rgba(189,221,205,0.6);

		}
		.next {
  			right: 0;
  			border-radius: 3px 0 0 3px;
  		}
  		.prev:hover, .next:hover {
  			background-color: rgba(189,221,205,1);
		}
		.numbertext {
			color: rgba(189,221,205,1);
			font-family: $Karla;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			bottom: 5%;
			}

		.dot {
  			cursor: pointer;
  			height: 15px;
  			width: 15px;
  			margin: 0 2px;
  			background-color: #bbb;
  			border-radius: 50%;
  			display: inline-block;
  			transition: background-color 0.6s ease;
  		}
		.active, .dot:hover {
  			background-color: #717171;
		}
		.fade {
  			-webkit-animation-name: fade;
  			-webkit-animation-duration: 1.5s;
  			animation-name: fade;
  			animation-duration: 1.5s;
		}
		@-webkit-keyframes fade {
  			from {opacity: .4} 
  			to {opacity: 1}
  		}

		@keyframes fade {
  			from {opacity: .4} 
  			to {opacity: 1}
		}
	}





	.sub-text-1 {
		.content {
			h4 {
				font-size: 20px;
			}
		}
	}

@media screen and (min-width: 1064px) {
	.project {
		header {
			.project-bg {
				height: 457px;
				background-position: center center;
				.project-title {
					margin-bottom: 40px;
					h1 {
						font-size: 48px;
					}
					h2 {
						font-size: 20px;
					}
				}
			}
		}
		section:first-of-type {
			margin-top: 50px;
		}
		section {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			h3 {
				font-size: 24px;
				margin-right: 50px;
				&:before {
					top: 30px;
				}
			}
			.content {
				width: 78%;
				.content-row {
					display: flex;
					div {
						width: 83%;
					}
					h4 {
						width: 20%;
						margin-right: 2%;
					}
					p {
						width: 83%;
					}
				}
				h4 {
					margin-bottom: 15px;
					font-size: 20px;
				}
				p, ul {
					margin-bottom: 50px;
					font-size: 16px;
					.italic {
						font-style: italic;
					}

				}
				h5 {
					font-family: $Karla;
					font-size: 16px;
					color: $bodyTextColor;
					font-style: italic;
				}
				.video-container {
				}
				.lists {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					margin: 0;
					.list {
						width: 33.33333%;
						ul {
							flex-direction: column;
						}
					}
				}
			}
			.content-img {
				display: flex;
				justify-content: center;
				margin-top: -15px;
				margin-bottom: 50px;
			}
		}
	}
}




























