@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Archivo+Narrow|Karla:400,700');

// Clean up any browser implemented styles
@import 'reset';

// Style Variables
$Karla: 'Karla', sans-serif;
$Archivo: 'Archivo Narrow', sans-serif;
$Playfair: 'Playfair Display', serif;
$navTextColor: #ffffff;
$bodyTextColor: #4a4a4a;
$pink: #d7cddb;
$green: #bdddcd;
$grey: #e7e2e2;
$darkGrey: #4a4a4a;
$white: #ffffff;
$caseStudyTitleColor: #oooooo;

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body.main-body {
	background: rgb(229,255,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,255,243,1) 0%, rgba(246,242,254,1) 50%, rgba(229,255,243,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(229,255,243,1) 0%,rgba(246,242,254,1) 50%,rgba(229,255,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(229,255,243,1) 0%,rgba(246,242,254,1) 50%,rgba(229,255,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fff3', endColorstr='#e5fff3',GradientType=0 ); /* IE6-9 */
}

.quote-text {
	font-family: $Karla;
	font-weight: bold;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	color: #bdddcd;
	font-size: 20px;
}

.bullet-point {
	list-style-type: disc;
	font-size: 14px;
	font-family: $Karla;
	color: #4A4A4A;
	margin-left: 25px;
}

@media screen and (min-width: 1064px) {
	.bullet-point {
		list-style-type: disc;
		font-size: 16px;
		font-family: $Karla;
		color: #4A4A4A;
		margin-left: 25px;
	}
}

// Import your other Sass files here. Note that styles will overwrite/cascade
// based on order of import
@import 'header';
@import 'nav';
@import 'hamburgers/_hamburgers';
@import 'icon-bg';
@import 'featured-work';
@import 'contact';
@import 'project';
@import 'botanic';
@import 'footer';
@import 'skype';
@import 'open-justice';
