<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov UX|UI Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project botanic">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Botanic Author</h1>
				<h2>An intuitive, code-free bot building product</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>Botanic was interested in creating a tool to help empower our clients to develop, deploy, and manage their own conversational interfaces.</p>
						<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>Product Designer & UX Researcher </li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>
							I collaborated with four developers and a content strategist
						</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						Research<br>
						User Flows<br>
						Wireframes<br>
						Mockups<br>
						Beta Testing<br>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>The back end of a conversational interface is an incredibly complicated system. We needed to translate the full functionality of the code while providing a straightforward user-facing experience.
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>We created a non-technical, graphical interface that allows users to visually interact with the conversation flows, empowering them to build out their own bots with confidence.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<br><h4>Research</h4>
				<p>Initial research was conducted to gather a greater understanding of the market and potential competitors. Currently, there is a growing number of bot building tools. I explored their UI and UX and found:
					<div class="bullet-point">
						• A majority of competitive products have poor usability and are overly complicated. 
						<br><br>• These products tend to frontload full functionality and it can feel intimidating to get started.
					</div>
				<p><br><br>
				As for user research, my primary point person was our content writer and strategist, who would be a direct, internal user for the tool. Working with him was an integral part of learning about best practices for writing for bots and product feature requirements. I also spoke to a few people who have used bot builders in the past about their experiences. 
				</p>
				<img src="../../img/botanic-project-1.png">
				<br><br>
			<h4>Strategy</h4>
				<p>Since writing bot content will inevitably be a new experience for most users, developing a clear product flow was crucial for usability. Our goal was to mirror the way bot content writers break out conversation while maintaining clear, visual paths through a system that often becomes unwieldy and complicated.
				</p>
				<img src="../../img/Botanic Product User Flow (For Case Study).png">
				<br><br>
			<h4>Ideation | Wireframes</h4>
				<p>Wireframing began with a series of paper sketches and whiteboarding in collaboration with the team. In order to heighten usability and develop an intuitive, plug and play tool, I focused primarily on:</p>
					<div class="bullet-point">
						• <span>Nesting</span>: The product has a ton of functionality, but a lot of the features are for rare (yet crucial) use cases. Nesting certain parts in order to provide default settings with the option of added granularity creates an approachable and uncluttered workspace. 
						<br><br>• <span>Consistent modal interactions</span>: Modals contain fields/options and are used throughout the product. The choice of a modal (over a separate page) keeps interactions grounded in the main workspace area while giving focus to specific interactions.
						<br><br>• <span>Functional hover states</span>: Another variation of nesting, many of the components in the tool have hover states that also expose the option to edit/delete. This is a learnable behavior that helps keep the workspace minimal, while also unlocking additional functionality just a click away.
					</div><br>
				</p>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="../../img/AT1.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT2.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT3.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT4.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT5.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT6.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT7.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT8.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT9.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../img/AT10.png" style="width:100%">
  </div>
  
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

	<p>Working on the wireframes was an incredibly iterative and collaborative process. Understanding technical limitations/capabilities as well as bot creation best practices and requirements was crucial to the success of the product development cycle and ultimate result.</p>


			<h4>Ideation | Mockups</h4>
				<p>Once the team had a clear understanding of UI direction, the backend developers began their work while I started on a layer of visual design. For the MVP product, I used visual design to enhance the experience through:</p>
				<div class="bullet-point">
					• <span>Consistency in visual language</span>: Incorporating a tight color scheme and repetitive visual elements (such as icons and button shapes), allows the product feels cohesive and straightforward.
					<br><br>• <span>Clear calls to action</span>: The use of bright colors is sparse and used to clearly indicate actionable elements. Hover states on all clickable options are also important as a way to give users immediate feedback on the state of an element. <br><br>
				</div>
				<p><br>I developed dozens of visual assets including pixel-perfect mockups, design specs, and icon files. I managed the front end development of these mockups and worked closely with backend developers to ensure proper and timely application.
					<br>
					<div class="video-container"><iframe
					src="https://www.youtube.com/embed/11Hwpmx24lE?autoplay=1">
					</iframe></div>
					<br>
				</p>
			<h4>Beta Testing Program & Iteration</h4>
				<p>Botanic was able to secure a handful of potential customers interested in participating in our beta program. I managed the entire UX / UI research segment of the program.</p>

				<div class="quote-text">“What’s amazing here is that I can just start [working] and I didn't have to read instructions” (Rocky, User)</div>

				<p><br><br>Consisting of a round of usability testing and user interviews, we were able to gather invaluable insights about the strengths and weaknesses of the product with a group of users that were very interested in creating their own bots. These insights were incredibly helpful in determining priorities in terms of product enhancements, feature requests and general design upgrades. Collaborating closely with the development team, iteration is ongoing.
				</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p>The initial round of wireframes for this product were used in a deck to successfully help secure investment for Botanic. This was a great opportunity for us and gave us the funding to continue to build out the product.  
				<br><br>Personally, working through the full-cycle of product design was an awesome challenge. It reinforced the absolute necessity of an open, collaborative, and iterative team in creating successful products. 
				<br><br>We’re currently iterating and working on ways to enhance the Author’s Tool even further and starting preparations for the official product launch.
			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX / UI Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















