<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Julia Starkov UX|UI Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project botanic">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href=""><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/">Home</a>
					<a href="/#work">Work</a>
					<a href="/#contact">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Botanic</h1>
				<h2>Test Text Stuff...</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud</p>
			<h4>Role</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			<h4>Team</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="lists">
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>Research</li>
						<li>Mockups</li>
						<li>Nobody Cares</li>
						<li>Oscar</li>
						<li>Something Else...</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>Research</li>
						<li>Mockups</li>
						<li>Nobody Cares</li>
						<li>Oscar</li>
						<li>Something Else...</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>Research</li>
						<li>Mockups</li>
						<li>Nobody Cares</li>
						<li>Oscar</li>
						<li>Something Else...</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Title</h3>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud</p>
			<h4>Sub Title</h4>
			<img src="../../img/botanic-project-1.png">
			<h4>Sub Title</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX /UI Design</p>
		<div>
			<img src="../../img/linkedin-icon.png">
			<img src="../../img/email-icon.png">
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../js/index.js"></script>
</body>
</html>





















