<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov UX|UI Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project botanic">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Botanic Author</h1>
				<h2>An intuitive, code-free bot building tool</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>Botanic Author is an enterprise-level product that empowers users to develop and deploy multi-modal bots across multiple channels. I was the sole designer working through the full-cycle of product research, strategy and design.</p>
						<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>Product Designer & UX Researcher </li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>I collaborated with four developers</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						Research<br>
						User Flows<br>
						Wireframes<br>
						Mockups<br>
						Beta Testing<br>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>Botanic Author came out of desire to provide the building blocks for creating conversational interfaces to Botanic’s customers. With many competitors already in the space, we needed to create a tool that also differentiated in the market.
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>A widely accessible tool that incorporates a visual, intuitive approach to building a bot that requires no knowledge of code in order to empower users to create their own conversational interfaces. 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<br><h4>Research</h4>
				<p>Initial research was conducted to gather a greater understanding of the market and potential competitors. Currently, there is a growing number of bot building tools. I explored their UI and UX and found:
					<div class="bullet-point">
						• Competitors’ products tend to have shoddy usability and are overly complicated. 
						<br><br>• Competitors tend to focus on chatbots and voice assistants, leaving open space for a tool that automates visual avatars. 
					</div>
				<p><br><br>User research was an interesting challenge. My number one point person was our content writer and strategist, who would be a direct, internal user for the tool. Working with him was an integral part of learning about best practices for writing for bots and tool feature requirements. 
				</p>
				<img src="../../img/botanic-project-1.png">
				<br><br>
			<h4>Strategy</h4>
				<p>Since writing bot content will inevitably be a new experience for most users, developing a clear product flow was crucial for usability. Our goal was to mirror the way bot content writers break out conversation while maintaining clear, visual paths through a system that often becomes unwieldy and complicated.
				</p>
				<img src="../../img/Botanic Product User Flow (For Case Study).png">
				<br><br>
			<h4>Ideation | Wireframes</h4>
				<p>Wireframing began with a series of paper sketches and whiteboarding in collaboration with the team. In order to heighten usability and develop an intuitive, plug and play tool, I focused primarily on:</p>
					<div class="bullet-point">
						• <span>Nesting</span>: The product has a ton of functionality, but a lot of the features are for rare (yet crucial) use cases. Nesting certain parts in order to provide default settings with the option of added granularity aided in designing an approachable and uncluttered workspace.
						<br><br>• <span>Consistent modal interactions</span>: Modals contain fields/options and are used throughout the product. The choice of a modal (over a separate page) was a way to keep interactions grounded in the main Workspace area while giving focus to specific interactions.
						<br><br>• <span>Functional hover states</span>: Another variation of nesting, many of the components in the tool have hover states that also expose the option to edit/delete. This is a learnable behavior that helps keep the workspace minimal, while also unlocking additional functionality just a click away.
					</div><br>
					<h5>
					(Currently, the wireframes are under NDA until official product launch)
					</h5>
				</p>
			<h4>Ideation | Mockups</h4>
				<p>Working on the wireframes was an incredibly iterative and collaborative process. Understanding technical limitations/capabilities as well as bot creation best practices and requirements was crucial to the success of the product development cycle and ultimate result. Visual design was used in the tool as a way to enhance the experience through:
				<div class="bullet-point">
					• <span>Consistency in visual language</span>: Using a tight color scheme and repetitive visual elements (such as icons and button shapes), the entire product has a sense of polish and serves to avoid any distraction from the flow.
					<br><br>• <span>Clear calls to action</span>: The use of bright colors is sparse and used to clearly indicate actionable elements. Hover states on all clickable options were also important as way to give users immediate feedback on the state of an element.
				</div>
				<p><br>I developed dozens of visual assets, including pixel-perfect mockups, design specifications and handcrafted icon files. I managed the front end development of these mockups and worked closely with backend developers to ensure proper and timely application.
					<h5>
						(Currently, the mockups and other assets are under NDA until official product launch)
					</h5>
					<br><br>
					<div class="video-container"><iframe
					src="https://www.youtube.com/embed/11Hwpmx24lE?autoplay=1">
					</iframe></div>
					<br>
				</p>
			<h4>Beta Testing Program & Iteration</h4>
				<p>Botanic was able to secure a handful of potential customers interested in participating in our beta program. I managed the entire UX / UI research segment of the program. 
					<br><br>Consisting of a round of usability testing and user interviews, we were able to gather valuable insights about the strengths and weaknesses of the product with a group of users that were very interested in creating their own bots. These insights were incredibly helpful in determining priorities in terms of product enhancements, feature requests and general design upgrades. Collaborating closely with the development team, iteration is ongoing.
				</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p>The initial wireframes I developed were used in a deck to successfully help secure investment for Botanic. This was a great opportunity for us and gave us the funding to continue to build out the product. 
				<br><br>Personally, working through the full-cycle of product design was an awesome challenge. It reinforced the absolute necessity of an open, collaborative, and iterative team in creating successful and thoughtful products. 
				<br><br>We’re currently iterating and working on ways to enhance the Author’s Tool even further and starting preparations for the official product launch.
			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX / UI Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















