<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov | UX Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
	<link rel="stylesheet" type="text/css" href="../../dist/simpleSlider.min.css">
	<style>
		body {
			background-color: #F6F6F6;
		}
		* {
    		box-sizing: border-box;
		}
		.img-container {
    		float: left;
   			width: 33.33%;
    		padding: 5px;
		}

		.clearfix::after {
    		content: "";
    		clear: both;
    		display: table;
		}
@media screen and (min-width: 1064px) {
  		.column {
    		width: 100%;

  		}
	}
	</style>
</head>
<body class="project open-justice">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
	</header>

	<br><br><br><br><br><br>
		<img src="../../img/OJ_Persona_1.png" style="width:60%">
		<br><br>
		<img src="../../img/OJ_Persona_2.png" style="width:60%">
		<br><br>
		<img src="../../img/OJ_Persona_3.png" style="width:60%">


	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX & Product Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
			<a href="https://dribbble.com/juliastarkov/"><img src="../../img/dribbble-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





