<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov UX|UI Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project open-justice">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/#contact">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>OpenJustice Website Redesign</h1>
				<h2>Promoting transparency in California’s criminal justice system</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>OpenJustice is an initiative led by the California Department of Justice to make criminal justice data accessible to everyone in an effort to be “smart on crime.”</p>
						<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>UX/UI Designer and Researcher </li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>I collaborated with a UX designer for the research and initial prototyping and I was the sole visual designer</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>Research</li>
						<li>Personas</li>
						<li>Sitemap</li>
						<li>Wireframes</li>
						<li>Mockups</li>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>“It seems like the site tries to cater to everyone at once, but is unsuccessful at both ends”
						<br><br>OpenJustice came to us with a problem: how can criminal justice data be made approachable for laypeople while simultaneously being useful and effective for more active data users? Our client had a broad idea of the site’s issues and came to us for recommendations on what changes need to be made to make it more user-friendly. 
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>A two tiered approach to navigation directing different types of users to the appropriate data sets
						<br><br>The key insight we found in our research was that users tended to approach data in one of two ways: as an expert interested in digging deep to find a specific data set OR as someone who is interested in the information but would prefer a more curated experience. This insight helped drive our understanding of the problem and shaped our ultimate design. 
						<br><br><img src="../../img/OJ_Desktop.png">
 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<br><h4>Research</h4>
				<br><img src="../../img/javier.png">
				<p>In two and a half short weeks were were able to speak to 23 individuals regarding OpenJustice (11 laypeople, 6 data scientists, 4 journalists and 2 members of law enforcement). Usability testing and user interviews were vital for us in determining the major flaws in the current site. It became abundantly clear that the use of jargon, inconsistent navigation, unclear filtering and an overwhelming amount of copy made the site very confusing.
				<br><br>The next step was to develop personas in order to guide our design decisions and help narrate the story to the client. The three personas were all based on our research and show the different types of users that may frequent the site.
				<br><br>PERSONA CAROUSEL!
			</p>
			<h4>Strategy</h4>
				<p>After gathering great insights from the users and the stakeholders, we began visualizing the best way to restructure the high and low level navigation on the site. The actual content on the site was excellent; we just needed to come up with a way to let specific users find the data sets (and their accompanying features) in an easy and efficient way. The following is a  before and after view of the breakdown of the site. The updated sitemap establishes a clear hierarchy and allows for scaling in the future.
					<br><br>– Everyone gets lost and confused on the site: This was an issue for a range of users. By making navigation consistent and minimal we made it much easier for a user to understand where they are in the site and exactly what page they’re looking at. By recommending the removal of jargon words (or the ability to hover-define them) we dealt with the issues of terminology confusion. Finally, by paring down overwhelming copy we allowed the users to get to what they were looking for immediately. 
					<br><br>– Visually relaying the message: Compared to other government websites, OpenJustice is clean and minimal in its visual design. However, users did note on some glaring inconsistencies in brand. I approached the visual redesign with OpenJustice’s message in mind: a modern, user-centered approach to data visualization that still retains the authority and credibility of a government website.
					<br><br>– Accounting for future growth: OpenJustice is a relatively new site and the stakeholders were very excited at the prospect of building it out and adding various features in the future. Our design accounts for this by splitting up the current pages into two main categories, allowing for nesting in the future or the addition of a third and fourth category as needed. 
				</p>
				<br><br>
			<h4>Ideation</h4>
				<p> 
				</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p>At the end of our two and a half week sprint we presented our findings and recommendations to the client and handed off the deliverables. The client was thrilled with the research and solutions we provided because it helped clear up a lot of internal debates on how to present the data and structure the site. Ultimately, the site was updated and redesigned keeping all of our recommendations in mind.
			<br><br>By streamlining navigation and cleaning up the confusing elements of the site, we helped OpenJustice further promote the sense of transparency they are working towards. Users from all backgrounds can now feel confident that the data they are viewing (and all accompanying features and copy) is relevant, helpful and clear. Through this, we help drive the goal of creating a more open California. 
			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX / UI Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















