<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov UX|UI Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project skype">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Skype Interview Coach</h1>
				<h2>Helping candidates prepare for job interviews through advice and practice</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>A Skype job interview coach bot created to showcase the Skype bot platform’s capabilities at Microsoft Build.
			</p>
				<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>UX / UI Designer and UX Researcher</li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>I collaborated with a content writer, project manager and two developers at Botanic
						</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						Research<br>
						Sitemaps and User Flows<br>
						Wireframes<br>
						Usability Testing<br>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>Skype reached out to Botanic because they wanted to create a multimodal bot on their platform that would help users prepare for job interviews in meaningful and effective ways.
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>Andi is a chatbot and avatar that helps users prepare for job interviews on Skype by providing expert advice, interview practice and evaluation.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<div class="content-img">
			<img src="../../img/Andi_Resize_3.png">
		</div>
	</section>


	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<br><h4>Planning and Discovery</h4>
				<p>I got started by working with the PM to put together a research plan that determined the timeline and expected business and user goals for the project. Once the client gave us the ok to move forward, I jumped into market research. I found that: (1) There are no viable competitors in the bot arena; and (2) the job interview coaching websites/apps that do exist tend to only focus on generic interview questions and incorporate outdated, unsuccessful UI.
				<br><br>Understanding the overall market landscape and Skype’s desire to differentiate and innovate, I started to formulate a plan for user interviews – the most compelling aspect of the research for this project. 
				</p>
			<h4>Collecting Insights</h4>
				<p>When working on designing for bots, user research takes on a different form than typical UX research. For this project, I tracked down and interviewed the following groups of people:
					<div class="bullet-point">
						<span>• USERS</span> - those who will potentially benefit from interview practice with the Skype bot. 
						<br><br><span>• HELPERS</span> - those who we would model the bot on, people who help others prepare for job interviews at various levels in their career.
						<br><br><span>• HIRING MANAGERS</span> - those whose experience and advice would help inform the content and focus of the bot. 
					</div>
					<p><br><br>By speaking to these three groups, we intended on determining (1) how we can best help prepare job candidates for interview success; (2) where candidates tend to have pain points when preparing for interviews; and (3) what hiring managers are looking for in an ideal candidate.</p>
					<div class="quote-text">
					“Practice interviewing out loud. Ideally with another person, but just saying it out loud really helps.” (Katie, Hiring Manager)
					</div>
					<p><br><br>The insights gathered from the research participants were invaluable for determining the structure of the conversational design and the content we ultimately provided for the bot. Following a successful presentation to the client, we moved on to design. 
					</p>
			<h4>Structure</h4>
				<p>
				<img src="../../img/julia_skype_userflow.jpeg">
				<br>
				For the design phase, I worked closely with our PM and content writer to determine user flows, information architecture and the conversational directions for the bot.</p>
				<img src="../../img/Skype User Flow.png">
				<br><br>
				<p>
					The high level user flow above was developed to communicate with the client on the overall direction for Build. Once approved, it gave us the structure necessary to begin incorporating content and building out more complicated, intricate flows.
				</p>
			<h4>Ideation</h4>
				<p>
					At this point, I also began brainstorming directions for UI. After discussing the technical capabilities and limitations of the existing Skype UI with our developers, I created wireframes to help illustrate the multimodal nature of the bot.
					<img src="../../img/Skype Wireframes_3.png">
					The user would interact with the bot (and the system) in four different ways.</p>
					<div class="bullet-point">
						• <span>Text</span>: Used as often as possible to create the feeling of a natural chat conversation.<br><bR>
						• <span>Button Card</span>: Used when necessary to aid the user by giving specific button options.<br><br>
						• <span>Calling Card</span>: Used when the user has agreed to call the avatar to practice answering an interview question.<br><br>
						• <span>Full-Screen Video</span>: Used to display the avatar asking a question and recording while the user is answering.<bR>
					</div>
				<p>
					<br><br>After these deliverables were approved, the team and I proceeded to flush out the personality/visual appearance of the avatar and more intricate conversation flows (see one <a href="../../img/Skype_Convo_Flows copy.png">here</a>).
	 				<div class="video-container"><iframe
					src="https://www.youtube.com/embed/ywj6V69f5kc?autoplay=1">
					</iframe></div>
					<br>
				</p>

			<h4>Iteration</h4>
				<div class="quote-text">
					<br>“I think this is totally useful, it could be really helpful especially if you can incorporate technical questions.” (Sam, Usability Testing Participant)
				</div>
				<p><br><br>The final step before Build was for me to conduct usability and bug testing to ensure the bot was running as smoothly as possible. With the UI, content and visual design in place, I encouraged participants to play around with the bot so I could establish pain points in the flows, note any confusing content and gather insights based on their experiences. The feedback I received helped us make some last minute content changes, but more importantly, reinforced that the bot was generally user friendly has a viable market. 
				</p>
				<img src="../../img/Ryann_Andi.png">
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p>Our engagement with Skype was an excellent opportunity for me to work on all parts of the UX of bot and avatar design. Working closely with the team at Botanic, we were able to think through a lot of challenging problems and create an engaging, useful experience. 
				<br><br>From the business side, we succeeded in highlighting the growing tech capabilities of the Skype bot platform (the project was even mentioned in <a href="https://venturebeat.com/2017/05/10/skype-bots-in-video-calls-now-in-preview/">VentureBeat</a>).  The demo at Build got positive feedback, and the client has expressed interest in continuing work on Andi for an official launch and working with Botanic on more projects in the near future. 

			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX / UI Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















