<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov | UX Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project subscription-platform">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Firefox Subscription Platform</h1>
				<h2>Mozilla’s first paid product billing and support platform</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>In order to diversify revenue streams, Mozilla’s expanded its business model to provide premium product offerings to B2C customers. The Subscription Platform allowed for Mozilla to process customer payment, provide support and communications to paying customers.
			</p>
				<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>Senior UX/UI Designer</li>
						<li>Visual Designer</li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>I collaborated with product managers, developers, a UX designer, UX researcher, and a content strategist.
						</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>User Research</li>
						<li>Service Blueprints</li>
						<li>Wireframes </li>
						<li>Mockups & Prototypes</li>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>As a member of the team to develop Mozilla’s first paid product platform, I had to act as an advocate for the users while contributing to complicated cross-organizational collaboration, rapidly changing business needs, and the limitations of working within an existing accounts system.
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>An intuitive platform that provides a seamless end-to-end customer experience, including billing, support, and email communication, that integrates with third party vendors and the existing Firefox Accounts UI.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<div class="content-img">
			<img src="../../img/sp-large.png">
		</div>
	</section>


	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<h4>Research</h4>
				<p>I was part of a field research study where we conducted in-home user interviews and usability testing with participants in the Pacific Northwest. The goal for the interviews was to learn more about participants’ habits, their understanding of accounts, and the paid services they’re interested in. <br><br>
					<img src="../../img/sp-research.png">
				It was crucial for me to join the study as it helped reinforce several strategic decisions for the future of paid products. In addition to this research study, we leveraged several studies that were conducted by user researchers (before my time at Mozilla) that covered user expectations for billing and support. </p>


			<h4>Strategy</h4>
			<br>
				<p>IIn order to provide a seamless end-to-end flow, it was important for us to go deeper than just user flows by mapping all of the planned integrations and when they are incorporated into the experience. I collaborated with another UX designer, a director of product, and a Firefox project manager to create service blueprints showing the user journey and the integrations with Stripe, Zendesk, and Salesforce Marketing Cloud. Below is one of the service blue prints (see all of them <a href="OJ_Sitemaps.html">here</a>).
					<img src="../../img/sp-sb1.png">
					</p>


			<h4>Ideation</h4>
				<p>
					copy
				</p>

		</div>
	</section>

	<section class="section-2">
		<div class="content-img">
			<img src="../../img/Skype Wireframes.png"><br><br>
		</div>
	</section>

<!-- 	<section class="section-3">
		<h6> </h6>
			<div class="table">
				<table style="width:90%">
				  <tr>
				    <td><img src="../../img/TEST.png"></td>
				    <td><img src="../../img/TEST.png"></td>
				  </tr>
				  <tr>
				    <td>Text: Used as often as possible to create the feeling of a natural chat conversation.</td> 
				    <td>Button Card: Used when necessary to aid the user by giving specific button options.</td>
				  </tr>
				</table>
			</div>
		</section> -->



	<section class="section-3">
		<h6> </h6>
			<div class="content">
				<p>The user would interact with the bot (and the system) in four different ways:</p>
					<div class="bullet-point">
						• <span>Text</span>: Used as often as possible to create the feeling of a natural chat conversation.<br><bR>
						• <span>Button Card</span>: Used when necessary to aid the user by giving specific button options.<br><br>
						• <span>Calling Card</span>: Used when the user has agreed to call the avatar to practice answering an interview question.<br><br>
						• <span>Full-Screen Video</span>: Used to display the avatar asking a question and recording while the user is answering.<br>
					</div>
					<p>
					<br><br>After these deliverables were approved, the team and I proceeded to flush out the personality/visual appearance of the avatar and more intricate conversation flows.
	 				<div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/ywj6V69f5kc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
					<br>
					</p>

			<h4>Iteration</h4>
				<div class="quote-text">
					<br>copy
				</div>
				<p><br><br>copy 
				</p>
				<img src="../../img/Ryann_Andi.png">
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p> Copy

			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX & Product Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
			<a href="https://dribbble.com/juliastarkov/"><img src="../../img/dribbble-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















