<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126468100-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126468100-1');
	</script>
	<!-- 	end of google analytics-->	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Julia Starkov | UX Design</title>
	<link rel="stylesheet" type="text/css" href="../../dist/build.min.css">
</head>
<body class="project subscription-platform">
	<header>
		<nav>
			<button class="hamburger hamburger--spin-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="nav-menu">
				<a href="../../index.html"><img src="../../img/js-logo.png"></a>
				<div class="nav-links">
					<!-- Add class "active" if you want it to be 'highlighted when you're on that page -->
					<a href="/#work">Work</a>
					<a href="/views/contact.html">Contact</a>
				</div>
			</div>
		</nav>
		<div class="project-bg">
			<div class="project-title">
				<h1>Firefox Subscription Platform</h1>
				<h2>Mozilla’s first paid product billing and support platform</h2>
			</div>
		</div>
	</header>

	<section class="overview">
		<h3>Overview</h3>
		<div class="content">
			<p>In order to continue driving Mozilla’s mission of internet safety, the company expanded its business model to provide premium security product offerings to its users. The Subscription Platform allowed for Mozilla to process customer payment, provide support, and facilitate communications with paying customers.
			</p>
				<div class="lists">
				<div class="list">
					<h4>Role</h4>
					<ul>
						<li>Senior UX/UI Designer</li>
						<li>Visual Designer</li>
					</ul>
				</div>
				<div class="list">
					<h4>Team</h4>
					<ul>
						<li>I collaborated with product managers, developers, a UX designer, a UX researcher, and a content strategist.
						</li>
					</ul>
				</div>
				<div class="list">
					<h4>Deliverables</h4>
					<ul>
						<li>User Research</li>
						<li>Service Blueprints</li>
						<li>Wireframes </li>
						<li>Mockups & Prototypes</li>
					</ul>
				</div>
			</div>
			<div class="content-row">
				<h4>The Challenge</h4>
				<div>
					<p>As a member of the team to develop Mozilla’s first paid product platform, I had to act as an advocate for the users while contributing to complicated cross-organizational collaboration, rapidly changing business needs, and the limitations of working within an existing accounts system.
					</p>
				</div>
			</div>
			<div class="content-row">
				<h4>The Solution</h4>
				<div>
					<p>An intuitive platform that provides a seamless end-to-end customer experience, including billing, support, and email communication, that integrates with third party vendors and the existing Firefox Accounts UI.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<div class="content-img">
			<img src="../../img/sp-large.png">
		</div>
	</section>

	<section class="section-2">
		<h3>Process</h3>
			<div class="content">
			<h4>Research</h4>
				<p>I was part of a field research study where we conducted in-home user interviews and usability testing with participants in the Pacific Northwest. The goal for the interviews was to learn more about participants’ habits, their understanding of account ecosystems, and the paid services they’re interested in. <br><br>
					<img src="../../img/sp-research.png">
				It was crucial for me to join the study as it helped reinforce several strategic decisions for the future of paid products. In addition to this research study, we leveraged several studies that were conducted by user researchers (before my time at Mozilla) that covered user expectations for billing and support. </p>


			<h4>Strategy</h4>
				<p>In order to provide a seamless end-to-end flow, it was important for us to go deeper than just user flows by mapping all of the planned integrations and when they are incorporated into the experience. I collaborated with another UX designer, a director of product, and a Firefox project manager to create service blueprints showing the user journey and the integrations with Stripe, Zendesk, and Salesforce Marketing Cloud. Below is one of the service blueprints (see more <a href="sp-sb.html">here</a>).
					<img src="../../img/sp-sb1.png">
					These blueprints went through several rounds of iterations as I communicated with the developers to ensure we had planning alignment and clarity. 
					</p>


			<h4>Ideation | Wireframes</h4>
				<p>
					Once the structure of the system and flows were in place, we moved on to wireframing. I split the wireframing work with one other UX designer; I lead the design of the update billing, support, and subscription termination flows. I focused specifically on:</p>
				<div class="bullet-point">
					• Leveraging Firefox Accounts’ <span>existing design system</span> where applicable to maintain a cohesive experience.<br><br>
					• Driving the application of <span>accessibility best practices</span> over some existing patterns when necessary.<br><br>
					• Creating designs that are <span>responsive</span> across devices and platforms. <br><br><br>
				</div>
				<p>
					Below is a sample of desktop wireframes showing the update billing, support, and termination flows. </br>
				</p>

<div class="slideshow-container">

  <div class="mySlides fade">
  	<div class="numbertext">1 / 10</div>
    <img src="../../img/sp-wf1.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">2 / 10</div>
    <img src="../../img/sp-wf2.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">3 / 10</div>
    <img src="../../img/sp-wf3.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">4 / 10</div>
    <img src="../../img/sp-wf4.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">5 / 10</div>
    <img src="../../img/sp-wf5.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">6 / 10</div>
    <img src="../../img/sp-wf6.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">7 / 10</div>
    <img src="../../img/sp-wf7.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">8 / 10</div>
    <img src="../../img/sp-wf8.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">9 / 10</div>
    <img src="../../img/sp-wf9.png" style="width:100%">
  </div>

  <div class="mySlides fade">
  	<div class="numbertext">10 / 10</div>
    <img src="../../img/sp-wf10.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>


<!-- 		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span> 
		  <span class="dot" onclick="currentSlide(2)"></span> 
		  <span class="dot" onclick="currentSlide(3)"></span> 
		</div> -->

<div class="row">
  <div class="column">
    <img src="../../img/fullscreenbutton.png" onclick="openModal();currentSlide(1);" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal();currentSlide(1);">&times;</span>
  <div class="modal-content">

    <div class="myModalSlides fade">
      <div class="numbertext">1 / 10</div>
      <img src="../../img/sp-wf1.png" style="width:100%">
    </div>

    <div class="myModalSlides fade">
      <div class="numbertext">2 / 10</div>
      <img src="../../img/sp-wf2.png" style="width:100%">
    </div>

    <div class="myModalSlides fade">
      <div class="numbertext">3 / 10</div>
      <img src="../../img/sp-wf3.png" style="width:100%">
    </div>

    <div class="myModalSlides fade">
      <div class="numbertext">4 / 10</div>
      <img src="../../img/sp-wf4.png" style="width:100%">
    </div>

    <div class="myModalSlides fade">
      <div class="numbertext">5 / 10</div>
      <img src="../../img/sp-wf5.png" style="width:100%">
    </div>

    <div class="myModalSlides fade">
      <div class="numbertext">6 / 10</div>
      <img src="../../img/sp-wf6.png" style="width:100%">
    </div>    

     <div class="myModalSlides fade">
      <div class="numbertext">7 / 10</div>
      <img src="../../img/sp-wf7.png" style="width:100%">
    </div>   

     <div class="myModalSlides fade">
      <div class="numbertext">8 / 10</div>
      <img src="../../img/sp-wf8.png" style="width:100%">
    </div>   

     <div class="myModalSlides fade">
      <div class="numbertext">9 / 10</div>
      <img src="../../img/sp-wf9.png" style="width:100%">
    </div>   

     <div class="myModalSlides fade">
      <div class="numbertext">10 / 10</div>
      <img src="../../img/sp-wf10.png" style="width:100%">
    </div>   

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

  </div>
</div>
			<h4>Ideation | Mockups</h4>
				<p>
					I led the application of visual design to all of the wireframes and Salesforce Marketing Cloud emails. We started by consulting with the Brand Application and Firefox Accounts teams to ensure our plans were in alignment with established conventions. <br><br>
					The visual design is modern, clean, and straightforward, reserving bright colors for actionable steps. I provided flow prototypes via Invision and pixel-perfect mockups via Zeplin to the front end developers, working closely with them on implementation. Below, you can view the prototype for the update billing and support flows. <br>
					<div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/TJWey7d6G1A?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
					<p><br><br>
					I also created all of the mobile mockups, a sample of the onboarding flow can be seen below:<br><br>
						<img src="../../img/sp-mobile.png">
					For the MVP launch, we followed the existing Firefox Accounts layout and structure. However, it became apparent that over time this would not be a scalable solution. I persuaded management to allocate resources to redesign the Firefox Accounts experience to better prioritize the Subscription Platform in the hierarchy. I acted as a key stakeholder and efforts are currently underway.
				</p>

			<h4>Iteration & Testing</h4>
				<P>Usability testing was conducted by a user researcher on the MVP experience and the results validated the designs and flows we developed.
				<div class="quote-text">
					“I love that you don't have to call, you can just go in and do it… I like how user friendly the entire process is.” (Usability Testing Participant)
				</div>
				<p><br>The MVP was launched in December 2019 and is currently live. Since the MVP supports a single product, single billing method, and launched to users in the US, we also started work on developing flows and mockups for several potential future scenarios in order to prepare for the scaling of the platform (designs currently NDA).</p>
				</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h3>Results</h3>
		<div class="content">
			<p> 
			The launch of the Subscription Platform and paid products at Mozilla was an exciting one. We are currently successfully processing payments that allow our users to engage with more products that will help them stay safe and secure on the internet. <br><br>
			As for my role, this was by far the largest team I’ve worked on and it was a great opportunity to be a key player in building relationships across orgs at Mozilla. I was an advocate for our users throughout the project, keeping decision making grounded in user needs even during times of rapid change or uncertainty. The outcome was a seamless end-to-end experience that will continue to scale well as we build out the platform.
			</p>
		</div>
	</section>

	<footer>
		<p>Julia Starkov &nbsp;&nbsp;|&nbsp;&nbsp; UX & Product Design</p>
		<div>
			<a href="https://www.linkedin.com/in/juliastarkov/"><img src="../../img/linkedin-icon.png"></a>
			<a href="mailto:jstarkov8@gmail.com"><img src="../../img/email-icon.png"></a>
			<a href="https://dribbble.com/juliastarkov/"><img src="../../img/dribbble-icon.png"></a>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="dist/build.min.js"></script> -->
	<script type="text/javascript" src="../../dist/build.min.js"></script>
</body>
</html>





















